.c-sidebar .c-sidebar-nav-dropdown-toggle:hover,
.c-sidebar .c-sidebar-nav-link:hover {
    color: #fff;
    background: $secondary !important;
}

.answer__review {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2rem;

    & > * {
        padding: 2rem 0;
    }
}

.points__section {
    display: flex;
    align-items: stretch;

    & > input {
        width: 4rem;
    }

    & > label {
        font-size: 1.7rem;
    }
}
.badge {
    &-left {
        background: rgb(177, 0, 0);
        color: #fff;
    }

    &-writing {
        background: rgb(255, 153, 0);
        color: #fff;
    }

    &-done {
        background: rgb(0, 179, 9);
        color: #fff;
    }
}
