.timer-form {
    display: contents;
}

.timer-form__wrapper {
    display: flex;
    align-items: center;

    & > img {
        width: 4rem;
        padding: 0.7rem;
        fill: black !important;

        & .st0 {
            fill: black !important;
        }
    }
}
